body{
    color:var(--black);
    background:var(--black);
    font-family: 'Montserrat', 'Arial', sans-serif;
    font-size: 18px;
    line-height: 32px;
    font-weight:400;
    height:auto;
}
.light-text{
    font-weight: 200;
}
b, strong .bold-text{
    font-weight:600;
}
.center-text{
    text-align: center;
}
nav ul{
    list-style: none;
}
a{
    --link-color:var(--primary);
    --hover-color:white;
    color:var(--link-color);
    text-decoration: none;
    position: relative;
    z-index: 1;
    transition: .15s ease-in-out all;
}
a.alt{
    --link-color:white;
    --hover-color:var(--primary)
}
a::before{
    padding:0 2px;
    z-index: -1;
    content:'';
    height:2px;
    width: calc(100% + 4px);
    display: block;
    position: absolute;
    bottom:-2px;
    left:-2px;
    background: var(--link-color);
    transition: .15s ease-in-out all;
}
a:hover{
    cursor: pointer;
    color:var(--hover-color);
    transition: .15s ease-in-out all;
}
a:hover::before{
    height:calc(100% + 2px);
    transition: .15s ease-in-out all;
}
h1,h2,h3, h4{
    width:100%;
}
h1{
    font-size: 3em;
    line-height: 1.4em;
    margin-bottom: var(--spacer-large);
}
h2{
    margin-top:var(--spacer-large);
    color:var(--primary);
    margin-bottom:var(--spacer);
}
p{
    margin-bottom: var(--spacer);
}
main{
    max-width: 900px;
    width:90%;
    padding:0 5%;
    margin:var(--spacer-large) auto;
}
/**** reusable ***/
.spaced-flex{
    display: flex;
    justify-content: space-between;
    align-items:flex-start
}

.rounded-border{
    border-radius:15px;
}
.shadow{
    box-shadow: 0px 0px 21px 1px var(--primary);
}
.box{
    box-shadow: 0px 0px 21px 1px var(--black);
    padding:var(--spacer-large);
    border-radius:15px;
    background:rgba(255,255,255,.8);
    margin-bottom:var(--spacer-large);
}
/**** header *******/
body > header{
    background:var(--primary);
    color:white;
    padding:calc(.5 * var(--spacer)) var(--spacer);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
}
.logo{
    max-width: 60px;
    width: 50%;
}
body > header > nav ul{
    display:flex;
    font-size: 1.3em;
}
body > header > nav ul li:not(:last-of-type){
    margin-right:var(--spacer); 
}
/**** about *******/
#about img{
    max-width: 220px;
    margin-right: var(--spacer-large);
}
/**** experience *******/

/**** footer *******/
footer{
    background: var(--primary);
    text-align: center;
    color:white;
    padding:var(--spacer);
}
footer  a:nth-last-of-type(even){
    margin:0 var(--spacer);
}